:root {
	font-family: sans-serif;
}

.d-flex {
	display: flex;
}

.w-100 {
	width: 100%;
}

.justify-content-center {
	justify-content: center;
}

.flex-direction-column {
	flex-direction: column;
}

.justify-content-between {
	justify-content: space-between;
}

.p-1 {
	padding: 10px;
}

.p-3 {
	padding: 30px;
}

.pb-5 {
	padding-bottom: 50px;
}

.mt-1 {
	margin-top: 10px;
}

.m-3 {
	margin: 30px;
}

.gap-1 {
	gap: 10px;
}

.gap-2 {
	gap: 20px;
}

.gap-5 {
	gap: 5px;
}

button {
	width: 140px;
	padding: 10px;
	font-size: 18px;
	background: none;
	border: 1px solid black;
	cursor: pointer;
}

button:hover {
	background-color: #afafaf40;
	color: #000000;
}

input {
	height: 30px;
	background: none;
	border: 1px solid black;
}

.color-red {
	color: red;
}

.color-green {
	color: green;
}

.g-button-red {
	display: flex;
	width: 140px;
	font-size: 18px;
	background: none;
	border: 1px solid black;
	cursor: pointer;
	text-decoration: unset;
	color: #ffffff;
	align-items: center;
	justify-content: center;
	background-color: rgb(255, 82, 82);
}

.g-button-green {
	display: flex;
	width: 140px;
	font-size: 18px;
	background: none;
	border: 1px solid black;
	cursor: pointer;
	text-decoration: unset;
	color: #ffffff;
	align-items: center;
	justify-content: center;
	background-color: green
}

.g-button {
	display: flex;
	width: 140px;
	min-height: 43px;
	font-size: 18px;
	background: none;
	border: 1px solid black;
	cursor: pointer;
	text-decoration: unset;
	color: #000000;
	align-items: center;
	justify-content: center;
}

.g-button:hover {
	background-color: #afafaf40;
}

.cursor-pointer {
	cursor: pointer;
}

.flex-direction-reverse {
	flex-direction: row-reverse;
}
