.modalOverlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
}

.closeButton {
	width: unset;
	padding: 0px;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 24px;
  background: transparent;
  color: black;
  border: transparent;
  cursor: pointer;
}

.closeButton:hover {
  scale: 1.2;
  color: red;
  background: unset;
}